
.big-text{font-size: 70px;font-weight: 900;}
.alf-big-text{font-size: 50px;font-weight: 900;}
.menu-text{font-size: 30px; font-weight: 700;}
.medium-text{font-size: 40px;font-weight: 600;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

body{
    margin: 0;
    overflow-y: scroll;
    background: #42455a;
}

body::-webkit-scrollbar{
    display: none;
}

.button{
    padding: 13px 18px; 
    background: rgba(19, 19, 19, 0.877); 
    color: white; 
    border-radius: 4px;
    display: flex;
    text-decoration: none;
    margin-right: 20px;
}
.button1{
    padding: 15px 15px; 
    background: black; 
    color: white; 
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
}



/*header*/
.header{
    display: flex;
    z-index: 1;
    max-width: 100%;
    min-width: 100%;
    top :0;
    left:0;
    position: fixed;
    background:linear-gradient(1deg, rgba(0,0,0,0.9), rgba(170, 4, 4, 0.9), rgba(112,1,1,1));
}

.menu{
    align-self: center;
    z-index: 0;
    width: 100%;
    transition: all 1s cubic-bezier(.215, .61, .255, 1);

}

.menu li{display: inline-block;}
.menu li a{color: white; padding: 15px; display: block;}
.menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu a
{
    display: block;
    padding: 5px;
    color: #000;
    text-decoration: none;
}
.colore_pilota{
    width: 2px;
    height: 4px;
}
.menu a:hover {
    background-color:rgba(255, 102, 0, 0.87);
    color: #FFFFFF;
    text-decoration: none;
}
.menu li ul {
    display: none;
}

.menu li:hover ul {
    display: block;
    position: absolute;
    z-index:1;
    width:250px;
    padding: 0;
    margin: 0 0 0 -1px;
    background: linear-gradient(0deg, rgba(0,0,0,.9), rgba(0,0,0,0.9));
}

.menu li li { border:none; width: 250px;}
.menu li li a { padding:10px 3px;}


/*scuderie*/

.menu ul span a::before {
    content: "";
    display: inline-block;
    width: 4%; 
    height: 13px; 
    margin-right: 15px; 
}

.menu ul span:nth-child(1) a::before {
    background-color: #3671c6;
}
.menu ul span:nth-child(2) a::before {
    background-color: #27f4d2;
}
.menu ul span:nth-child(3) a::before {
    background-color: #e80020;
}
.menu ul span:nth-child(4) a::before {
    background-color: #ff8000;
}
.menu ul span:nth-child(5) a::before {
    background-color: #229971;
}
.menu ul span:nth-child(6) a::before {
    background-color: #0093cc;
}
.menu ul span:nth-child(7) a::before {
    background-color: #64c4ff;
}
.menu ul span:nth-child(8) a::before {
    background-color: #6692ff;
}
.menu ul span:nth-child(9) a::before {
    background-color: #53e252;
}
.menu ul span:nth-child(10) a::before {
    background-color: #b6babd;
}

.titolo{
    font-size: 50px ;
    font-weight: bold;
    color: white;
    display: inline-block;
    align-self: center;
    padding-right: 50px;
}

.r-l{
    padding-left: 20px;
    align-self: center;
    padding-left: 40px;
    margin-right: 25px;
}

.r-l a:hover {
    background-color:rgba(255, 102, 0, 0.87);
    color: #FFFFFF;
    text-decoration: none;
}

.r-l a img {
    width: 100px;
    height: auto;
    border-radius: 100%;
}


.menu li a img{
    display: none;
}

.menu label a {color: white; padding: 15px;display:none;}
.hamburger{display: none;}

@media(max-width:900px){
    .r-l{display: none}
    .menu{position: absolute; top: 0; right: -200%; background: rgb(126, 0, 0);height: 230%;z-index: 2;}
    .menu li {display: block;}
    .menu li a{display: block;}
    .menu li span{display: none;}
    .menu label a {display: block;}
    

    .menu--open{right:-30%;}
    .hamburger{ 
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        right: 30px;
        z-index: 2;
    }
    .hamburger span{z-index:2; background: white; height: 3px;width: 100%; display: block;margin-bottom: 5px;}

    .menu li a img{
        display: block;
        width: 20%;
        height: auto;

    }
}


/*contet*/
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.conteiner{
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:1em;
    width: 800px;
    height: 500px;
    transition: all 400ms;
    margin-left:0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.conteiner:hover .box{
    filter: grayscale(100%) opacity(24%);
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.box{
    position: relative;
    background: var(--img) center center;
    background-size: cover ;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box-link {
    display: block;
    width: 100%;
    height: 100%;
}

.conteiner .box:hover{
    filter:grayscale(0%)opacity(100%);
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.conteiner:has(.box-1:hover){
    grid-template-columns: 3fr 1fr 1fr 1fr;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.conteiner:has(.box-2:hover){
    grid-template-columns: 1fr 3fr 1fr 1fr;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.conteiner:has(.box-3:hover){
    grid-template-columns: 1fr 1fr 3fr 1fr;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.conteiner:has(.box-4:hover){
    grid-template-columns: 1fr 1fr 1fr 3fr;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.box:nth-child(odd){
    transform:translateY(-16px);
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.box:nth-child(even){
    transform:translateY(16px);
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.box::after{
    content: attr(data-text);
    position:absolute;
    bottom:20px;
    color:#fff;
    padding: 10px 10px 10px 10px ;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.box:hover::after{
    transform: translateY(0px);
    opacity: 1;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

.box:hover::after{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

[data-text] {
    line-height: 1.5;
    font-size: 35px; /* Cambia 'black' con il colore che preferisci */
    background-color: white;
    text-shadow: 
        -1px 0 black, 
        0 1px black, 
        1px 0 black, 
        0 -1px black,
        -2px 0 black, 
        0 2px black, 
        2px 0 black, 
        0 -2px black;
}
.grid-container-phone{display: none;}


@media screen and (max-width: 900px) {
    .grid-container {
        display: none;
        
        
    }

    .grid-container-phone {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        column-gap: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    label{
        font-size: 20px;
        font-weight: bold;
        background: #000000;
        text-align: center;
        width: 100%;
        border-radius: 10px;
        color: white;
    }

    .box{
        padding-top: 10px;
    }

    img{
        border-radius: 20px;
    }
}


/*footer*/
footer {
    background:linear-gradient(1deg, rgba(0,0,0,0.9), rgba(170, 4, 4, 0.9), rgba(112,1,1,1));;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-shadow:
        -1px -1px 0 #000, /* Contorno in alto a sinistra */
        1px -1px 0 #000, /* Contorno in alto a destra */
        -1px 1px 0 #000, /* Contorno in basso a sinistra */
        1px 1px 0 #000;
}
.col img{height: 50px;width: 50px;}
.col p{color: rgb(255, 255, 255);font-weight: 500;}
.social{
    display: flex;
    justify-content: center;
}

/*helpers*/
.mt-0{margin-top: 25px;}
.mt-1{margin-top: 50px;} 
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}
.mt-4{margin-top: 250px;}
